/* styles.css */
body {
    font-family: Arial, sans-serif;
    color: #2A629A;
    margin: 0;
    padding: 0;
    background-color: #7C93C3;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFDA78;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #003285;
    background-color: #FF7F3E;
    border-radius: 5px;
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.btn-primary {
    background-color: #F79540;
    color: #03346E;
    font-weight: 10px;
}

.btn-secondary {
    background-color: #FC4F00;
    color: #1F316F;
}

.btn-primary:hover, .btn-secondary:hover {
    opacity: 0.8;
}

/* table-styles.css */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 15px;
    text-align: center;
}

table thead tr {
    background-color: #1E2A5E;
    color: #ffffff;
    text-align: center;
}

table th, table td {
    padding: 5px;
    border: 2px solid #1E2A5E;
}

table tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

footer {
    text-align: center;
    background-color: #FFDA78;
    padding: 10px;
    font-size: 15px;
}